h1 {
    text-align: center;
}

#puzzle {
    width: 600px;
    margin: auto;
}

.tile {
    background-image: url('pica736.jpg');
    width: 200px;
    height: 200px;
    float: left;
    border: 1px solid silver;
    box-sizing: border-box;
}

#tile1 {
    background-position: 0 0
}

#tile2 {
    background-position: -200px -0px
}

#tile3 {
    background-position: -400px -0px
}

#tile4 {
    background-position: -0 -200px
}

#tile5 {
    background-position: -200px -200px
}

#tile6 {
    background-position: -400px -200px
}

#tile7 {
    background-position: -0 -400px
}

#tile8 {
    background-position: -200px -400px
}

#tile9 {
    background-position: -400px -400px
}


#startBtn {
    display: inline;
    padding: 5px;
    margin: 5px;
    background-color: rgb(105, 188, 191);
    border: 2px solid black;
    border-radius: 4px;
    font-size: medium;
    font-weight: 900;
}

#timer {
    position: absolute;
    display: contents;
    right: 50px;
    padding: 10px;
    top: 0%;
}